.board-photo {
  border-radius: 50%;
  height: 350px;
  width: auto;
}

table {
  width: 80%;
  text-align: center;
  margin: auto;
}

td {
  padding: 5px;
  vertical-align: top;
}

td p {
  width: 85%;
  margin: auto;
}

.name-text {
  font-weight: bold;
}

.board-position-text {
  color: #7A7A78;
}

.bio-text {
  line-height: 125%;
}
