.board-photo {
  border-radius: 50%;
  height: 350px;
  width: auto;
}

table {
  width: 80%;
  text-align: center;
  margin: auto;
}

td {
  padding: 5px;
  vertical-align: top;
}

td p {
  width: 85%;
  margin: auto;
}

.name-text {
  font-weight: bold;
}

.board-position-text {
  color: #7A7A78;
}

.bio-text {
  line-height: 125%;
}

@media (max-width: 800px) {
  table, tr, td {
    display: block;     
    width: 100%;
  }

  td {
    margin-bottom: 20px;  
    text-align: center;  
  }

  td p, .name-text, .board-position-text {
    width: 90%;    
    margin: 5px auto;   
  }

  .board-photo {
    height: 250px;    
    width: auto;
    margin-bottom: 10px;  
  }
}
